:root {
    --color-background: #790200;
    --color-primary: #bc0500;
    --color-primary-dark: #790200;
    --color-header: #201c1c;
    --color-grey: #acacac;
    --color-grey-dark: #555555;
    --color-grey-light: 204,204,204;
    --color-secondary: #ea9500;
    --color-secondary-light: #cba52c;

    font-size: 60%;
}


@font-face {
    font-family: 'Photograph Signature';
    src:url('../fonts/Photograph-Signature.ttf.woff') format('woff'),
        url('../fonts/Photograph-Signature.ttf.svg#Photograph-Signature') format('svg'),
        url('../fonts/Photograph-Signature.ttf.eot'),
        url('../fonts/Photograph-Signature.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Black';
    src:url('../fonts/gotham-black-webfont.woff') format('woff'),
        url('../fonts/gotham-black-webfont.svg#gothamblack') format('svg'),
        url('../fonts/gotham-black-webfont.eot'),
        url("../fonts/gotham-black-webfont.woff2") format("woff2"),
        url("../fonts/gotham-black-webfont.ttf") format("truetype"),
        url('../fonts/gotham-black-webfont.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
}

.background {
    background-color: var(--color-background);
    background-repeat: no-repeat;
    background-image: url('../img/background-mobile.png');
    background-size: cover;
    min-height: 100vh;
}


header {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: var(--color-header);
    padding: 2.4rem 0;
}

header img {
    max-width: 20rem;
}


.nav-menu {
    display: flex;
    flex: 1;
    background: var(--color-grey-dark);
}

.nav-menu ul {
    list-style: none;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.nav-menu ul li + li {
    margin-top: 0.2rem;
}

.nav-button {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: #FFF;
    background-color: var(--color-grey);
    border: 1px solid var(--color-grey);
    padding: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;  
    font-size: 1.5rem;  
}

.nav-button:hover{
    background-color: var(--color-grey-dark);
    transition: background-color 0.2s;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    margin-top: 2rem;
}

.banner img {
    max-width: 22rem;
}

.welcome-container {
    position: relative;
}

.welcome-message {
    text-align: center;
}

.welcome-message p{
    color: #fff;
    padding: 0 0.4rem;
    font-weight: 300;
    font-size: 1.2rem;
}

.welcome-message em {
    color: #fff;
    font-weight: 300;
    font-size: 1rem; 
    display:block;
    margin-top: 8px;   
}

.round-button {
    display: flex;
    padding: 0.4rem 1.4rem;
    background-color: var(--color-primary);
    border-radius: 16px;
    color: #fff;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
}

.welcome-container .round-button {
    margin: 30px auto 40px;
}


.candle-container {
    display: flex;
    background-image: url('../img/candle-background.png');
    background-repeat: repeat-x;
    background-size: cover;
    height: 450px;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    position: relative;
}

.candle-container form {
    padding: 1.2rem;
    background: rgba(var(--color-grey-light),0.4);
    width: 100%;
    max-width: 320px
}

.candle-container form .round-button{
    font-size: 1.4rem;
    padding: 0.6rem 1.6rem;
    font-weight: 500;
    margin: 1.6rem auto;
}

.form-row {
    width: 100%; 
}

.form-row + .form-row {
    margin-top: 1rem;
}

.label-block label{
    display:block;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

.input-text input, 
.input-text textarea{
    width: 100%;
    padding: 1.2rem;
    border-radius: 4px;
    border: 1px solid #fff;
}

.input-text input {
    height: 32px;
}

.input-text textarea{
    resize: none;
}


.show {
    display: initial;
    visibility: visible;
}

.hide {
    display: none;
    visibility: hidden;
}

footer {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 0.6rem;
    position: fixed;
    bottom: 0;
    height: 24px;
}

.success-container {
    width: 100%;    
    height: 100%;
}

.success-message {
    width: 100%;
    padding: 24px;
}

.balloon {
    border-radius: 16px;
    background: #fff;
    color: #000;
    padding: 24px 32px;
    position: relative;
    width: 100%;
}

.ballon > p {
    font-weight: 600;
    font-size: 1rem;
}

.success-message > p{
    border-radius: 16px;
    background: #fff;
    color: #000;
    width: 100%;
    padding: 20px 34px;
    font-weight: 600;
    font-size: 1rem;
}

.success-message > img {
    display: block;
    margin: auto;
    margin-top: 16px;
    width: 100%;
    max-width: 645px;
    min-width: 300px;
}

.lit-candle-message {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-secondary-light);
    border-radius: 100%;
    width: 64px;
    height: 64px;
    padding: 10px;
    position: absolute;
    left: calc(50% - 32px);
    top: 50px;
}

.lit-candle-message p {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 0.6rem;
}

.candle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.candle-light {
    background-image: url('../img/candle-light.png');
    background: transparent;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: calc(50% - 45px);
    border: 1px solid #fff;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.show-lg{
    display: none;
    position:relative;
    height: 100%;
}



@media (min-width: 700px) {
    .background {
        width: 100%;
        background-color: var(--color-background);
        background-repeat: no-repeat;
        background-image: url('../img/background.png');
        background-size: cover;
        min-height: 100vh;
    }

    .round-button {
        padding: 0.8rem 1.8rem;
        font-size: 1.4rem;
    }


    .welcome-container #initial-message {
        margin: auto;
        max-width: 640px;
        margin-top: 40px;
        margin-bottom: 0;
    }

    #initial-message .round-button{
        margin-top: 5rem;
    }

    .welcome-message p{
        font-size: 1.8rem;
    }
    
    .welcome-message em {
        font-size: 1.4rem; 
    }

    .success-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .success-message {
        padding-top: 5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .success-message > img{
        margin-top: 20px;
    }

    .balloon {
        max-width: 372px;
    }

    .balloon > p{
        font-size: 1.4rem;
    }

    .lit-candle-message {
        width: 72px;
        height: 72px;
        left: 95%;
        top: 0;
        position: absolute;
    }

    .lit-candle-message p {
        font-size: 0.8rem;
    }

    .nav-menu ul{
        flex-direction: row;
        justify-content: center;
    }

    .nav-menu ul li{
        width: 248px;
    }


    .nav-menu ul li + li {
        margin-top: 0;
        margin-left: 0.2rem;
    }

    .candle-container{
        margin-bottom: 50px;
    }

    .candle {
        margin-top: 4rem;
        margin-right: 4rem;     
    }

    .show-lg{
        display: flex;  
        align-items: flex-end;
    }

    #clelia_merloni-pic {
        align-items: flex-end;
    }

    #clelia_merloni-pic img {
        display: block;
        max-width: 340px;
        width: auto;
        height: auto;
        bottom: 0;
    }

    #christ-pic {
        position: absolute;
        right: 0;
        bottom: -40px;
    }

    #christ-pic img {
        height: 100%;
        max-height: 360px;
    }
}

@media (min-width:700px) and (max-width: 1080px){
    #christ-pic img {
        height: 100%;
        max-height: 300px;
    }
}

@media (min-width:700px) and (max-width: 930px){
    #christ-pic img {
        height: 100%;
        max-height: 260px;
    }
}

@media (min-width:700px) and (max-width: 850px){
    #christ-pic img {
        height: 100%;
        max-height: 240px;
    }
}