:root {
    --color-background: #790200;
    --color-primary: #bc0500;
    --color-primary-dark: #790200;
    --color-header: #201c1c;
    --color-grey: #acacac;
    --color-grey-dark: #555555;
    --color-grey-light: 204,204,204;
    --color-secondary: #ea9500;
    --color-secondary-light: #cba52c;

    font-size: 60%;
}


@font-face {
    font-family: 'Photograph Signature';
    src:url('../fonts/Photograph-Signature.ttf.woff') format('woff'),
        url('../fonts/Photograph-Signature.ttf.svg#Photograph-Signature') format('svg'),
        url('../fonts/Photograph-Signature.ttf.eot'),
        url('../fonts/Photograph-Signature.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Black';
    src:url('../fonts/gotham-black-webfont.woff') format('woff'),
        url('../fonts/gotham-black-webfont.svg#gothamblack') format('svg'),
        url('../fonts/gotham-black-webfont.eot'),
        url("../fonts/gotham-black-webfont.woff2") format("woff2"),
        url("../fonts/gotham-black-webfont.ttf") format("truetype"),
        url('../fonts/gotham-black-webfont.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
}

.background {
    background-color: var(--color-background);
    background-repeat: no-repeat;
    background-image: url('../img/background-mobile.png');
    background-size: cover;
    min-height: 100vh;
}


header {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: var(--color-header);
    padding: 2.4rem 0;
    height: 88px;
}

header img {
    max-width: 20rem;
}


.nav-menu {
    display: flex;
    flex: 1;
    background: var(--color-grey-dark);
}

.nav-menu ul {
    list-style: none;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.nav-menu ul li + li {
    margin-top: 0.2rem;
}

.nav-button {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: #FFF;
    background-color: var(--color-grey);
    border: 1px solid var(--color-grey);
    padding: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;  
    font-size: 1.5rem;  
    height: 48px;
}

.nav-button:hover{
    background-color: var(--color-grey-dark);
    transition: background-color 0.2s;
}

.welcome .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0.4rem;
    margin-top: 6rem;
}

.welcome .container img {
    margin-bottom: 3rem;
    max-width: 22rem;
}

.welcome-message {
    text-align: center;
    padding: 0.4rem;
}

.welcome-message p{
    color: #fff;
    font-weight: 300;
    font-size: 1.2rem;
}

.welcome-message em {
    color: #fff;
    font-weight: 300;
    font-size: 1rem; 
    display:block;
    margin-top: 8px;   
}

.round-button {
    display: flex;
    padding: 0.6rem 1.4rem;
    background-color: var(--color-primary);
    border-radius: 16px;
    color: #fff;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    margin: 1rem;
}

.welcome .container .actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 0.8rem;
    margin: 0.8rem;
}

.candle-container {
    display: flex;
    background-image: url('../img/candle-background.png');
    background-repeat: repeat-x;
    background-size: cover;
    height: calc(100vh - 160px);
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.candle-container h1 {
    font-family: 'Photograph Signature', serif;
    font-weight: 300;
    color: #fff;
    font-size: 8rem;
}

.candle-container form {
    padding: 1.2rem;
    background: rgba(var(--color-grey-light),0.4);
    width: 100%;
    margin: auto;
    max-width: 320px;
}

.candle-container form .round-button{
    font-size: 1.4rem;
    padding: 0.6rem 1.6rem;
    font-weight: 500;
    margin: 1.6rem auto;
}

.form-row {
    width: 100%; 
}

.form-row + .form-row {
    margin-top: 1rem;
}

.label-block label{
    display:block;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

.input-text input, 
.input-text textarea{
    width: 100%;
    padding: 1.2rem;
    border-radius: 4px;
    border: 1px solid #fff;
}

.input-text input {
    height: 32px;
}

.input-text textarea{
    resize: none;
}

.errorlist {
    color: #f44336;
    list-style: none;
    line-height: 24px;    
}

.success-container {
    width: 100%;    
    height: 100%;
}

.success-message {
    width: 100%;
    padding: 24px;
}

.balloon {
    border-radius: 16px;
    background: #fff;
    color: #000;
    padding: 24px 32px;
    position: relative;
    width: 100%;
}

.ballon > p {
    font-weight: 600;
    font-size: 1rem;
}

.success-message > p{
    border-radius: 16px;
    background: #fff;
    color: #000;
    width: 100%;
    padding: 20px 34px;
    font-weight: 600;
    font-size: 1rem;
}

.success-message > img {
    display: block;
    margin: auto;
    margin-top: 16px;
    width: 100%;
    max-width: 645px;
    min-width: 300px;
}

.lit-candle-message {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-secondary-light);
    border-radius: 100%;
    width: 64px;
    height: 64px;
    padding: 10px;
    position: absolute;
    left: calc(50% - 32px);
    top: 50px;
}

.lit-candle-message p {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 0.6rem;
}

.candle {
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.candle-light {
    background-image: url('../img/candle-light.png');
    background: transparent;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: calc(50% - 45px);
    border: 1px solid #fff;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.prayers-container {
    height: 100%;
}

.prayers-container h1 {
    text-align:center;
    font-size: 4.8rem;
}

.carousel{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.4rem 1.6rem;
    margin-top: 1.6rem;
}

.swiper-container {
    width: 100%;
}

.swiper-button {
    border-radius: 100%;
    background-color: #fff;
}

.swiper-button-next, .swiper-button-prev {
    height: 40px !important;
    width: 40px !important;
}

.swiper-button-prev:after, .swiper-button-next:after{
    color: var(--color-primary);
    font-size: 1.2rem !important;
    font-weight: bolder;
}

.swiper-slide-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin: auto;
}

.swiper-slide-empty p {
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.swiper-slide-empty a {
    font-size: 1.2rem;
}

.prayer {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.prayer p {
    background: #fff;
    border-radius: 24px;
    width: 100%;
    font-size: 1rem;
    padding: 0.8rem 1.6rem; 
    height: 90px;
    overflow-y: auto;
    border: 1px solid black;
}

.prayer p strong {
    display: block;
    text-align: right;
    margin-top: 0.2rem;
    padding-right: 0.8rem;
}


.prayer img {
    margin: auto;
    margin-top: -32px;
    max-height: 256px;
}

.show-lg {
    display: none;
}

footer {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 0.6rem;
    position: fixed;
    bottom: 0;
    height: 24px;
}


@media (min-width: 700px) {
    .background {
        background-image: url('../img/background.png');
    }

    .nav-menu ul{
        flex-direction: row;
        justify-content: center;
    }

    .nav-menu ul li{
        width: 248px;
    }


    .nav-menu ul li + li {
        margin-top: 0;
        margin-left: 0.2rem;
    }

    .round-button {
        padding: 0.8rem 1.8rem;
        font-size: 1.4rem;
    }

    .show-lg {
        display: flex;
        position: relative;
    }

    .show-lg#christ-pic{
        bottom: 0;
        right: 0;
        position: absolute;
    }

    .welcome .container {
        max-width: 640px;   
        margin-left: auto;   
        margin-right: auto;  
    }

    .welcome .container img{
        max-width: 32rem;
    }

    .welcome-message {
        padding: 0.6rem;
    }
    
    .welcome-message p{
        font-size: 1.8rem;
    }
    
    .welcome-message em {
        font-size: 1.4rem;  
    }

    .success-container {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template: "left center right";
    }

    .success-message {
        grid-area: center;
        padding-top: 5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 80px;
    }

    .success-message > img{
        margin-top: 20px;
    }

    .balloon {
        margin-top: 60px;
        max-width: 372px;
    }

    .balloon > p{
        font-size: 1.4rem;
    }

    .lit-candle-message {
        width: 72px;
        height: 72px;
        left: 95%;
        top: 0;
        position: absolute;
    }

    .lit-candle-message p {
        font-size: 0.8rem;
    }

    .candle-container form{
        margin: auto;
        max-width: 400px;
    }

    .candle {
        grid-area: right;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 4rem;     
    }

    .show-lg#clelia_merloni-pic{
        grid-area: left;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    #clelia_merloni-pic img {
        max-width: 280px;
        width: auto;
        height: auto;
        bottom: 0;
    }

    .prayers-container h1 {
        font-size: 7.2rem;
    }

    .prayer {
        max-width: 480px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .prayer p {
        background: #fff;
        width: 272px;
        height: 96px;
        font-size: 1rem;
        padding: 1.6rem; 
        margin-left: 48px;
        margin-top: -20px;
    }
    
    .prayer img {
        margin-right: auto;
        margin-left: -60px;
        margin-top: 0;
        height: 254px;
    }
    
}

@media (min-width: 1000px) and (max-width: 1100px) {
    .show-lg#christ-pic img{
        max-width: 400px;
    }

    .show-lg#clelia_merloni-pic img{
        max-width: 240px;
    }
}

@media (min-width: 900px) and (max-width: 1000px) {
    .show-lg#christ-pic img{
        max-width: 340px;
    }

    .show-lg#clelia_merloni-pic img{
        max-width: 220px;
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    .show-lg#christ-pic img{
        max-width: 300px;
    }

    .show-lg#clelia_merloni-pic img{
        max-width: 200px;
    }
}


.hide {
    display: none;
    visibility: hidden;
}