{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="welcome">
  <div class="container">
    <img src="{% static 'img/banner.svg' %}" />
    <div class="welcome-message">
      <p>Olá!</p>
      <p>
        Seja bem-vindo(a) a este local, onde você poderá deixar seus pedidos, 
        em intercessão a Bem-Aventurada Clélia Merloni.
      </p>
      <p>“Abraço-te no Sagrado Coração de Jesus e nEle te fecho, com a chave da oração.”</p>
      <em>Bem-Aventurada Clélia Merloni</em>
    </div>

    <div class="actions">
      <a class="round-button" role="button" title="Faça sua prece" href="{% url 'prayers:new' %}" @click="blowOutCandle">
        Faça sua prece
      </a>
      <a class="round-button" role="button" title="Veja as velas acesas" href="{% url 'prayers:list' %}">
        Veja as velas acesas
      </a>
    </div>
  </div>

  <div class="show-lg" id="christ-pic">
    <img src="{% static 'img/christ.png' %}" alt="Imagem de cristo de braços abertos" />
  </div>
</section>
{% endblock content %}

{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capela Virtual</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}"></link>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700;800&family=Montserrat:wght@300;500;600;700&display=swap" rel="stylesheet"></link>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>
<body class="background">
  <main id="virtual-candle">
    {% include 'nav.html' %}

   
  
  
    <footer>
      &copy; 2020 | UNISAGRADO. Todos os direitos reservados.
    </footer>
  </main>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html> {% endcomment %}

