{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capela Virtual</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}"></link>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700;800&family=Montserrat:wght@300;500;600;700&display=swap" rel="stylesheet"></link>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>
<body class="background">
  <div class="header">
    <header>
      <img src="{% static 'img/logo.png'%}" alt="Logo Unisagrado" />
    </header>
    <nav class="nav-menu" role="navigation">
      <ul>
        <li><a class="nav-button" href="#sobre">Sobre</a></li>
        <li><a class="nav-button" href="#prece">Faça sua Prece</a></li>
      </ul>
    </nav>
  </div>
  

  <main id="virtual-candle">
    <section class="welcome-container">
      <div id="initial-message">
        <div class="banner">
          <img src="{% static 'img/banner.svg' %}" />
        </div>

        <div class="welcome-message">
          <p>Olá!</p>
          <p>
            Seja bem-vindo(a) a este local, onde você poderá deixar seus pedidos, 
            em intercessão a bem Aventurada Clélia Merloni.
          </p>
          <p>“Abraço-te no Sagrado Coração de Jesus e nEle te fecho, com a chave da oração.”</p>
          <em>Bem-Aventurada Clélia Merloni</em>
        </div>

        <button class="round-button" role="button" title="Faça sua prece" @click="hello()">
          Faça sua prece
        </button>
      </div>
      
      <div class="show-lg" id="christ-pic">
        <img id="christ-pic" src="{% static 'img/christ.png' %}" alt="Imagem de cristo de braços abertos" />
      </div>
    </section>


    <section class="candle-container">
      <div class="show-lg" id="clelia_merloni-pic">
        <img src="{% static 'img/clelia_merloni.png' %}" alt="Bem-aventurada Clélia Merloni" />
      </div>
      
      <form :class="!success? 'show':'hide'" action="." novalidate method="post" @submit="showCandle">
        <div class="form-row input-text label-block">
          <label for="id_name">Nome:</label>
          <input type="text" id="id_name" name="name" />
        </div>
        <div class="form-row input-text label-block">
          <label for="id_email">E-mail</label>
          <input type="text" id="id_email" name="email" />
        </div>
        <div class="form-row input-text label-block">
          <label for="id_prayer">Deixe sua prece:</label>
          <textarea rows="5" id="id_prayer" name="prayer"></textarea>
        </div>  

        <button class="round-button" role="button" type="submit">
          Enviar Prece
        </button>
      </form>

      <div :class="success? 'show': 'hide'" class="success-container">
        <div class="success-message"> 
          <div class="balloon">
            <p>A Bem-Aventurada Clélia Merloni interceda por você e por suas intenções.</p>
            <div :class="litCandle? 'show': 'hide'" class="lit-candle-message">
              <p>sua vela ficará acesa por 7 dias</p>
            </div>
          </div>
          <img src="{% static 'img/msg_clelia_merloni.png' %}" alt="Abençoo-vos com cem corações. Bem-aventurada Clélia Merloni" />
        </div>

        <div class="candle" id="candle">
          <button class="candle-light" type="button" @click="lightCandle">
            <img :class="litCandle? 'show': 'hide'" id="id_candle-light" src="{% static 'img/candle-light.png'%}" alt="Chama" />
          </button>
          <img src="{% static 'img/candle.png' %}" />
        </div>
      </div>
    </section>
  </main>
  
  {% include 'footer.html' %}
  
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>