{% extends 'base.html' %}
{% load static %}

{% block title %}Velas acesas{% endblock title %}

{% block content %}
<section class="candle-container">
    <div class="prayers-container">
        <h1>Todas as preces!</h1>       
        <div class="carousel">
            <swiper 
                ref="swiperComponent"
                :options="swiperOptions"            
            >
                {% for prayer in prayers %}
                    <swiper-slide>
                        <div class="prayer">
                            <p>
                                {{ prayer.description }}  
                                <strong>- {{prayer.name}}</strong>
                            </p>
                            <img src="{% static 'img/candle_on.png' %}" alt="Vela acesa" />
                        </div>
                    </swiper-slide>
                {% empty %}
                    
                    <div class="swiper-slide-empty">
                        <p>Não há nenhuma vela acesa</p>
                        <a class="round-button" role="button" title="Faça sua prece" href="{% url 'prayers:new' %}" @click="blowOutCandle">
                            Acenda uma vela
                        </a>
                    </div>
                    
                {% endfor %}
                
                <div class="swiper-scrollbar" slot="scrollbar"></div>
                <div class="swiper-button swiper-button-prev" slot="button-prev"></div>
                <div class="swiper-button swiper-button-next" slot="button-next"></div>
            </swiper>        
        </div> 
    </div>
</section>
{% endblock content %}