{% extends 'base.html' %}
{% load static %}

{% block title %}Faça sua prece{% endblock title %}

{% block content %}
<section class="candle-container">
    <div class="show-lg" id="clelia_merloni-pic">
        <img src="{% static 'img/clelia_merloni.png' %}" alt="Bem-aventurada Clélia Merloni" />
    </div>
    <form action="." novalidate method="post">
        {% csrf_token %}
        <div class="form-row input-text label-block">
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {{ form.name.errors }}
            {{ form.name }}
        </div>
        <div class="form-row input-text label-block">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {{ form.email.errors }}
            {{ form.email }}
        </div>
        <div class="form-row input-text label-block">
            <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
            {{ form.description.errors }}
            {{ form.description }}
        </div>  

        <button class="round-button" role="button" type="submit">
            Enviar Prece
        </button>
    </form>
</section>
{% endblock content %}